<div class='row'>
    <div class='span6'>
        <h3>To Roman numbers</h3>
        <form class="form-horizontal">
            <input type='text' id='decimal' placeholder='from decimal...'>
            <button id="btnFromDecimal" class='btn'><i class='icon-cog'></i>Convert</button>
            <img class='ajax-indicator' src='/img/ajax-loader.gif' style='display: none;'/>
        </form> 
        <div id='roman-result'></div>
    </div>
    <div class='span6'>
        <h3>From Roman numbers</h3>
        <form class="form-horizontal">
            <input type='text' id='roman' placeholder='to decimal...'>
            <button id="btnToDecimal" class='btn'><i class='icon-cog'></i>Convert</button>
            <img class='ajax-indicator' src='/img/ajax-loader.gif' style='display: none;'/>
        </form>
        <div id='decimal-result'></div>
    </div>
</div>
{{#script}}
<script type='text/javascript' language='javascript'>
    var toggle_translation = function($btn) {
        var indicator = $btn.siblings('.ajax-indicator:first');
        var textbox = $btn.siblings('input[type="text"]:first');
        if (indicator.is(':visible')) {
            indicator.hide();
            textbox.removeAttr("disabled");
            $btn.removeAttr("disabled");
        } else {
            indicator.show();
            textbox.attr("disabled", "disabled");
            $btn.attr("disabled", "disabled");
        }
    };
    var execute = function(url, $btn, $input, $result) {
        var value = $input.val();
        $result.html('').removeAttr('class');
        if(!value) return false;
        
        toggle_translation($btn);
        $.ajax({
            type: 'POST',
            url: url,
            data: { number: value },
            error: function (xhr, status, error) {
                $result.addClass("alert alert-error");
                $result.html('<strong>Error!</strong> ' + xhr.responseText + '.');
                toggle_translation($btn);
            },
            success: function (data, status, xhr) {
                toggle_translation($btn);
                $result.html('<strong>' + value + '</strong> = ' + data).addClass("alert alert-success");
                $input.val('');
            }
        });
    };
    $(function() {
        $('#btnFromDecimal').on('click', function() {
            execute('fromDecimal', $(this), $('#decimal'), $('#roman-result'));
            return false;
        });
        $('#btnToDecimal').on('click', function() {
            execute('toDecimal', $(this), $('#roman'), $('#decimal-result'));
            return false;
        });
    });
</script>
{{/script}}