/* sticky footer taken from http://od-eon.com/blogs/calvin/flush-footer-css-bottom-page/ */
html, body { height: 100%; }

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

.footer, .push {
    height: 50px;
    clear: both;
}

.footer {
    padding-top: 9px;
    border-top: 1px solid #E5E5E5;
}